* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(/img/Без\ названия\ \(26\).jpg);
  width: 100%;
   width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover; 
}
fa-youtube {
   
}




















/* .main {
  background-image: url("/img/💓🤭.jpg");
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat; */
