* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

/* Orqa fon */
.wrapper {
    display: flex;
    gap: 40px;
    padding: 50px 80px;
    background: #9c8735;
}

/* Asosiy shakl */
.item {
    width: 100px;
    height: 220px;
    border-radius: 50px;
    position: relative;
}

/* Ichki bo‘shliq */
.item::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 30px;
    width: 40px;
    height: 170px;
    border-radius: 20px;
    background: #9c8735;
}

/* Yon chiqadigan qism */
.item.left::before,
.item.right::before {
    content: "";
    position: absolute;
    top: 90px;
    width: 60px;
    height: 40px;
    background: inherit;
}

/* Chapga */
.item.left::before {
    left: -60px;
    border-radius: 20px 0 0 20px;
}

/* O‘ngga */
.item.right::before {
    right: -60px;
    border-radius: 0 20px 20px 0;
}

/* Ranglar */
.yellow {
    background: #f6c56f;
}

.dark {
    background: #0b2a2f;
}
